.App {
  text-align: center;
}
.App button {
  width: 25px;
}
.App button:nth-child(1) {
  margin: 0 10px;
}
label#todolist-title {
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px dotted green;
}
.todolist {
  width: 350px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  border: 1px solid green;
  flex-direction: column;
  justify-content: center;
}
.todo {
  font-weight: 400;
  text-align: left;
}
.todolist form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dotted green;
  padding: 5px 0;
}
.todolist form input[type="text"] {
  box-sizing: border-box;
  margin-right: 10px;
  width: 60%;
  font-size: 1.2rem;
  height: 1.6rem;
}
.todolist form input[type="submit"] {
  box-sizing: border-box;
  height: 1.6rem;
}
.App > ul {
  text-align: left;
}
