:root {
  --primaryColor: #bca88e;
  --secondColor: #9da993;
  --mainWhite: #fff;
  --mainblack: #222;
  --mainRed: #c45141;
  --mainGreen: #4caf50;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondColor);
  color: var(--mainblack);
}

h1 {
  margin: 1rem 0;
}

.btn {
  background-color: var(--primaryColor);
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  color: var(--mainWhite);
  text-align: center;
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}
