*{
    font-family: 'Sniglet', 'Noto Sans KR', sans-serif;
}
html{
    height: 100%;
    background-color: #31a34f;
}
div.sidebar_content{
    display: flex;
    overflow: scroll;
}
section{
    text-align: center;
    border: 1px solid #d6ad45;
    border-radius: 15px 0 0 15px;
    background-color: #d6ad45;
    width: 20%;
    padding: 2%;
}
section #sidebar_title{
    font-size: 35px;
    line-height: 1.5;
    margin: 20px auto;
}
main{
    border-radius: 0 15px 15px 0;
    border: 1px solid white;
    background-color: white;
    width: 80%;
    padding: 3%;
    text-align: left;
}
ul, a{
    color: green;
    text-decoration-line: none;
}
li::marker{
    font-size: 20px;
}
section li:nth-child(1)::marker{
    content: "☻";
    font-size: 25px;
}
section li:nth-child(2)::marker{
    content: "♬";
}
section li:nth-child(3)::marker{
    content: "✇";
    font-size: 30px;
}
main ul, li{
    padding-left: 25px;
}
main li:nth-child(1)::marker{
    content: "✐";
    font-size: 25px;
}
main li:nth-child(2)::marker{
    content: "𖨆❣︎𖨆";
}
main li:nth-child(3)::marker{
    content: "♡";
}
main #content_title{
    font-size: 32px;
}
footer{
    padding: 20px;
}