button {
  display: block;
  background-color: rgb(46, 45, 45);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
button:disabled {
  background-color: rgb(151, 148, 148);
  border: none;
  color: rgb(177, 177, 177);
}
